@(id: Long, employeeForm: Form[Employee])

@import helper._
    
    @main("Welcome to Play") {<h1>Edit employee</h1>
    
    @form(routes.AdminController.save_employee(id)) {
        
        <fieldset>
        
            @inputText(employeeForm("name"), '_label -> "Employee name")

            @select(
                employeeForm("unit.id"), 
                options(Unit.options), 
                '_label -> "Unit",
                '_showConstraints -> false
            )
            
           	@select(
           		employeeForm("role.id"),
				options(Role.options),
				'_label -> "Role",
				'_showConstraints -> false	
			)
			
     		@inputText(employeeForm("hire_date"), '_label -> "Hire Date")
     		
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Finish Edit" class="btn">
            <a href="@routes.AdminController.employee_index()" class="btn">Cancel</a> 
        </div>        
    }    
    
    @form(routes.AdminController.fire_employee(id), 'class -> "topRight") {
        <input type="submit" value="Fire employee" class="btn danger">
    } 
}